#marsMap {
  height: 100vh;
}

.lightboxHeaderInfo {
  width: 250px;
  height: 100%;
  height: 337px;
  text-align: center;
  position: fixed;
}

div.lightboxScrollContent {
  width: 70%;
  float: right;
}

div.specs {
  margin-top: 2rem;
  padding-left: .5rem;
}
