html {
  font-family: $copy;
  font-size: 16px;
  line-height: 1.5;
  color: $white;
}

.toolsHeader {
  color: white;
  padding: 1rem;
}

h3 {
  font-family: $copy;
}

h5 {
  font-family: $copy;
  display: inline-block;
  font-size: 1.1em;
  margin: .5rem 0;
  border-bottom: 1px solid $white;
  cursor: pointer;
}


.lightboxHeaderInfo h4 {
  display: block;
  font-family: $header;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: .1rem;
  line-height: 1.8;
  padding-bottom: .5rem;
  border-bottom: 1px solid $white;
}

.lightboxHeaderInfo p {
  font-style: italic;
  margin-top: 1rem;
}

.lightboxHeaderInfo h5 {
  display: block;
  text-align: left;
  border: none;

}

span {
  font-family: $header;
}

ul.specsList {
  text-align: left;
}

.specsList li {
  list-style-type: circle;
  margin-left: 1.2rem;
  font-size: 1.2em;
}

.lightboxScrollContent p {
  max-width: 900px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}
